
.top-navbar {
    background-color: #272F66;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
  }
  
  .contact-info a{
    margin-right: 20px;
    cursor: pointer;
  }
  .info:hover {
    color: #FFC107;
  }
  
  
  .social-links {
    display: flex;
    align-items: center;
  }
  
  .social-icons a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .icon:hover {
    color: #FFC107;
  }
  .time {
    display: flex;
    align-items: center;
    gap: 5px; 
    font-size: 14px;
  }
  